.new-tweet {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #e6e2dd;
  color: #545149;
  font-family: 'Bungee', sans-serif;
  margin: 5px;
  height: 250px
}

form {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: space-around;
}

textarea {
  background-color: transparent;
  border-color: transparent;
  border-width: 0;
  width: 100%;
  border-bottom: 3px solid #545149;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  margin-right: -20px;
  color: #545149;
}
textarea:focus {
  outline: none;
}

button[type=submit] {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', sans-serif;
  border: 3px solid #4056A1;
  margin: 18px;
}

.counter {
  float: right;
  margin: 18px;
  font-family: 'Bungee', sans-serif;
  width: 80px
}

.overLimit {
  color: red;
}

form label {
  width: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-left: 1em;
  height: 30px;
}

.submitBox {
  width: 100%;
}