.new-tweet {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: #e6e2dd;
  color: #545149;
  font-family: 'Bungee', sans-serif;
  margin: 5px;
  height: 150px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  align-items: space-around;
}

textarea {
  background-color: transparent;
  border-color: transparent;
  border-width: 0;
  height: 30px;
  width: 54%;
  border-bottom: 3px solid #545149;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  border-right: 20px solid transparent;
  margin-right: -20px;
  color: #545149;
}

button[type=submit] {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', sans-serif;
  border: 3px solid #4056A1;
  margin: 5px;
}

.counter {
  float: right;
  margin: 5px;
  font-family: 'Bungee', sans-serif;
}

form label {
  width: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  border-left: 20px solid transparent;

  height: 30px;
  margin-left: -25px;
  border-bottom: 3px solid #545149;
}

.submitBox {
  width: 100%;
}